
@model AlbumViewModel;
<div class="container">

    <!-- Timeline
    ================================================= -->
    <div class="timeline">
        <div class="timeline-cover" style="background-image: url('@Model.UserInfo.BackgroundImage');">
            <!--Timeline Menu for Large Screens-->
            <div class="timeline-nav-bar hidden-sm hidden-xs">
                <div class="row">
                    <div class="col-md-3">
                        <div class="profile-info">
                            <img src="@Model.UserInfo.ProfileImage" alt="" class="img-responsive profile-photo" />
                            <button class="btn" style="background-color:#8dc63f;color:white;border-radius:15px" data-toggle="modal" data-target="#profileImageModal">Edit</button>
                            <h3>@Model.UserInfo.UserName</h3>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <ul class="list-inline profile-menu">
                            <li><a href="/AuthUserProfile/Index">My Posts</a></li>
                            <li><a href="/AuthUserProfile/About">About</a></li>
                            <li><a href="/AuthUserProfile/Album" class="active">Album</a></li>
                            <li><a href="timeline-friends.html">Friends</a></li>
                        </ul>
                        <ul class="follow-me list-inline">
                            <li>@Model.UserInfo.FollowersCount<a id="followersId" href=""> Followers</a> </li>
                            <li>@Model.UserInfo.FollowingsCount<a id="followingsId" href=""> Followings </a></li>
                            <input type="hidden" id="us-er-Id" value="@Model.UserInfo.UserId">
                            <input type="hidden" id="tokenidd" value="@Model.Token">
                            <button class="btn" style="background-color:#8dc63f;color:white;border-radius:15px" data-toggle="modal" data-target="#BackgroundImageModall">Edit</button>
                        </ul>
                    </div>
                </div>
            </div><!--Timeline Menu for Large Screens End-->
            <!-- ProfileImage Modal -->
            <div class="modal fade" id="profileImageModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit Profile Image</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="file" id="profileImage" name="profileImage" />
                            <input type="hidden" id="tokenidforprofileimage" value="@Model.UserInfo.BackgroundImageId">
                            <input type="hidden" id="profileImageId" value="@Model.UserInfo.ProfileImageId">
                            <input type="hidden" id="userId" value="@Model.UserInfo.UserId">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="deleteProfileImageBtn" style="border-radius:15px">Delete Profile Image</button>
                            <button type="button" class="btn btn-primary" id="updateProfileImageBtn">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BackgroundImage Modal -->
            <div class="modal fade" id="BackgroundImageModall" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit Background Image</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="file" id="backgroundImage" name="backgroundImage" />
                            <input type="hidden" id="tokenidforbackgroundimage" value="@Model.UserInfo.BackgroundImageId">
                            <input type="hidden" id="backgroundImageId" value="@Model.UserInfo.BackgroundImageId">
                            <input type="hidden" id="userIdd" value="@Model.UserInfo.UserId">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="deleteBackgroundImageBtn" style="border-radius:15px">Delete Background Image</button>
                            <button type="button" class="btn btn-primary" id="updateBackgroundImageBtn">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal for followings -->
            <div id="followingUsersModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Following Users</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="following-users-container" class="following-users-container">
                                <!-- Dinamik içerik burada yüklenecek -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal for followers -->
            <div id="followersUsersModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Followers</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="followers-users-container" class="followers-users-container">
                                <!-- Dinamik içerik burada yüklenecek -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
            <div id="page-contents">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-7">

                        <!-- Photo Album
                        ================================================= -->
                        <ul class="album-photos">
                            @foreach (var post in Model.Posts)
                        {
                            <li>
                                <div class="img-wrapper" data-toggle="modal" data-target="#photo-@post.PostId" style="height:107px;width:190px">
                                    @if (!string.IsNullOrEmpty(post.ImageUrl))
                                    {
                                        <img src="@post.ImageUrl" style="height:107px;width:190px" alt="photo" class="img-responsive post-image">
                                    }
                                    @if (!string.IsNullOrEmpty(post.VideoUrl))
                                    {
                                        <video class="post-video" style="height:107px;width:190px" controls> <source src="@post.VideoUrl" type="video/mp4"> </video>
                                    }
                                </div>
                                <div class="modal fade" id="photo-@post.PostId" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            @if (!string.IsNullOrEmpty(post.ImageUrl))
                                            {
                                                <img src="@post.ImageUrl" alt="photo" class="img-responsive post-image">
                                            }
                                            @if (!string.IsNullOrEmpty(post.VideoUrl))
                                            {
                                                <video class="post-video" controls> <source src="@post.VideoUrl" type="video/mp4"> </video>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                                                   
                        </ul>
                    </div>
                    <div class="col-md-2 static">
                        <div id="sticky-sidebar">
                            <h4 class="grey">Sarah's activity</h4>
                            <div class="feed-item">
                                <div class="live-activity">
                                    <p><a href="#" class="profile-link">Sarah</a> Commended on a Photo</p>
                                    <p class="text-muted">5 mins ago</p>
                                </div>
                            </div>
                            <div class="feed-item">
                                <div class="live-activity">
                                    <p><a href="#" class="profile-link">Sarah</a> Has posted a photo</p>
                                    <p class="text-muted">an hour ago</p>
                                </div>
                            </div>
                            <div class="feed-item">
                                <div class="live-activity">
                                    <p><a href="#" class="profile-link">Sarah</a> Liked her friend's post</p>
                                    <p class="text-muted">4 hours ago</p>
                                </div>
                            </div>
                            <div class="feed-item">
                                <div class="live-activity">
                                    <p><a href="#" class="profile-link">Sarah</a> has shared an album</p>
                                    <p class="text-muted">a day ago</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    

