@model AuthUserProfileViewModel;

    <div class="container">

        <!-- Timeline
        ================================================= -->
        <div class="timeline">
            <div class="timeline-cover"style="background-image: url('@Model.UserInfo.BackgroundImage');">
                <!--Timeline Menu for Large Screens-->
                <div class="timeline-nav-bar hidden-sm hidden-xs">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="profile-info">
                                <img src="@Model.UserInfo.ProfileImage" alt="" class="img-responsive profile-photo" />
                                <button class="btn" style="background-color:#8dc63f;color:white;border-radius:15px" data-toggle="modal" data-target="#profileImageModal">Edit</button>
                                <h3>@Model.UserInfo.UserName</h3>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <ul class="list-inline profile-menu">
                                <li><a href="/AuthUserProfile/Index"class="active">My Posts</a></li>
                                <li><a href="/AuthUserProfile/About">About</a></li>
                                <li><a href="/AuthUserProfile/Album">Album</a></li>
                                <li class="list-inline-item dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings <span><img src="~/images/down-arrow.png" alt="" /></span></a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" style="color:black" href="/AuthUserProfile/BasicInfo">Basic Information</a>
                                        <a class="dropdown-item" style="color:black" href="/AuthUserProfile/EduAndWork">Education and Work</a>
                                        <a class="dropdown-item" style="color:black" href="/AuthUserProfile/Interests">My Interests</a>
                                        <a class="dropdown-item" style="color:black" href="/Settings/Notifications">Account Settings</a>
                                        <a class="dropdown-item" style="color:black" href="/AuthUserProfile/ChangePassword">Change Password</a>
                                    </div>
                                </li>
                            </ul>
                            <ul class="follow-me list-inline">
                                <li>@Model.UserInfo.FollowersCount<a id="followersId" href=""> Followers</a> </li>
                                <li>@Model.UserInfo.FollowingsCount<a id="followingsId" href=""> Followings </a></li>
                                <input type="hidden" id="us-er-Id" value="@Model.UserInfo.UserId">
                                <button class="btn" style="background-color:#8dc63f;color:white;border-radius:15px" data-toggle="modal" data-target="#BackgroundImageModall">Edit</button>
                            </ul>
                        </div>
                    </div>
                </div><!--Timeline Menu for Large Screens End-->

            <!-- ProfileImage Modal -->
            <div class="modal fade" id="profileImageModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit Profile Image</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="file" id="profileImage" name="profileImage" />
                            <input type="hidden" id="tokenidforprofileimage" value="@Model.UserInfo.BackgroundImageId">
                            <input type="hidden" id="profileImageId" value="@Model.UserInfo.ProfileImageId">
                            <input type="hidden" id="userId" value="@Model.UserInfo.UserId">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="deleteProfileImageBtn" style="border-radius:15px">Delete Profile Image</button>
                            <button type="button" class="btn btn-primary" id="updateProfileImageBtn">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BackgroundImage Modal -->
            <div class="modal fade" id="BackgroundImageModall" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit Background Image</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="file" id="backgroundImage" name="backgroundImage" />
                            <input type="hidden" id="tokenidforbackgroundimage" value="@Model.UserInfo.BackgroundImageId">
                            <input type="hidden" id="backgroundImageId" value="@Model.UserInfo.BackgroundImageId">
                            <input type="hidden" id="userIdd" value="@Model.UserInfo.UserId">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="deleteBackgroundImageBtn" style="border-radius:15px">Delete Background Image</button>
                            <button type="button" class="btn btn-primary" id="updateBackgroundImageBtn">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            
            </div>
            <div id="page-contents">
                <div class="row">
                    <div class="col-md-3" style="padding-top:50px;padding-left:65px">

                    </div>
                    <div class="col-md-7">
                        <!-- Post Create Box
                        ================================================= -->
                    <div class="create-post">
                        <div class="row">
                            <div class="col-md-7 col-sm-7">
                                <form id="TextCreateBox">
                                    <div class="form-group">
                                        <img src="@Model.UserInfo.ProfileImage" alt="" class="profile-photo-md" />
                                        <input type="hidden" id="tokenidd" value="@Model.Token">
                                        <input type="hidden" id="user-idd" value="@Model.UserInfo.UserId">
                                        <textarea id="postTextt" cols="30" rows="1" class="form-control" placeholder="Write what you wish"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <div id="textValidationErrorss" class="text-danger"></div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <div class="tools">
                                    <ul class="publishing-tools list-inline">
                                        <li><a href="#" id="compose-icon"><i class="ion-compose"></i></a></li>
                                        <li><a href="#" id="images-icon"><i class="ion-images"></i></a></li>
                                        <li><a href="#" id="video-icon"><i class="ion-ios-videocam"></i></a></li>
                                    </ul>
                                    <button class="btn btn-primary pull-right" id="CreateTextPost">Publish</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Text Modal -->
                    <div id="textModal" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Create Text Post</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="textForm" method="post" action="CreatePostWithtext">
                                        <div class="form-group">
                                            <input type="hidden" id="tokenid" value="@Model.Token">
                                            <input type="hidden" id="user-id" value="@Model.UserInfo.UserId">
                                            <textarea class="form-control" id="postText" placeholder="Write something..."></textarea>
                                        </div>
                                        <div class="form-group">
                                            <div id="textValidationErrors" class="text-danger"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" id="submitTextPost">Post</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Image Modal -->
                    <div id="imageModal" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Create Image Post</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="imageForm">
                                        <div class="form-group">
                                            <input type="hidden" id="tokenid-forimage" value="@Model.Token">
                                            <input type="hidden" id="user-id-forimage" name="UserId" value="@Model.UserInfo.UserId">
                                            <textarea class="form-control" id="imageText" name="Text" placeholder="Write something..."></textarea>
                                        </div>
                                        <div class="form-group">
                                            <input type="file" class="form-control-file" name="PostImageFile" id="imageFile">
                                        </div>
                                        <div class="form-group">
                                            <div id="imageValidationErrors" class="text-danger"></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="submitImagePost">Post</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Video Modal -->
                    <div id="videoModal" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Create Video Post</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="videoForm">
                                        <div class="form-group">
                                            <input type="hidden" id="tokenid-forvideo" value="@Model.Token">
                                            <input type="hidden" id="user-id-forvideo" name="UserId" value="@Model.UserInfo.UserId">
                                            <textarea class="form-control" id="videoText" name="Text" placeholder="Write something..."></textarea>
                                        </div>
                                        <div class="form-group">
                                            <input type="file" class="form-control-file" name="PostVideoFile" id="videoFile">
                                        </div>
                                        <div class="form-group">
                                            <div id="videoValidationErrors" class="text-danger"></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="submitVideoPost">Post</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal View for user liked -->
                    <div id="likeUsersModal" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Users who liked this post</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div id="like-users-container" class="like-users-container">
                                        <!-- Dinamik içerik burada yüklenecek -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal for followings -->
                    <div id="followingUsersModal" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Following Users</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div id="following-users-container" class="following-users-container">
                                        <!-- Dinamik içerik burada yüklenecek -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal for followers -->
                    <div id="followersUsersModal" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Followers</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div id="followers-users-container" class="followers-users-container">
                                        <!-- Dinamik içerik burada yüklenecek -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        <!-- Post Content
                        ================================================= -->
                    @foreach (var post in Model.Posts)
                    {
                        var userProfilee = "";
                        if (post.UserName == Model.UserInfo.UserName)
                        {
                            userProfilee = "/AuthUserProfile/Index";
                        }
                        var isliked = Model.LikeList.Any(l => l.PostId == post.PostId && l.UserId == Model.UserInfo.UserId);
                        var LikeButtonClass = isliked ? "text-red addlike" : "text-green addlike";

                        <div class="post-content">
                            <div class="post-date hidden-xs hidden-sm">
                                <h5>@post.UploadTime</h5>
                            </div><!--Post Date End-->
                            @if (!string.IsNullOrEmpty(post.ImageUrl))
                            {
                                <img src="@post.ImageUrl" alt="post-image" class="img-responsive post-image">
                            }
                            @if (!string.IsNullOrEmpty(post.VideoUrl))
                            {
                                <video class="post-video" controls> <source src="@post.VideoUrl" type="video/mp4"> </video>
                            }
                            <div class="post-container">
                                <img src="@Model.UserInfo.ProfileImage" alt="user" class="profile-photo-md pull-left" />
                                <div class="post-detail">
                                    <div class="user-info">
                                        <h5><a href="@userProfilee" class="profile-link">@post.UserName</a> <span class="following">following</span></h5>
                                        <p class="text-muted">@post.ElapsedTime</p>
                                    </div>
                                    <div class="reaction" data-post-id="@post.PostId" data-user-id="@Model.UserInfo.UserId">
                                        <input type="hidden" id="tokenidd" value="@Model.Token">
                                        <button class="btn-group @LikeButtonClass" style="border:hidden;padding: 3px 12px"><i class="icon ion-thumbsup"></i></button>
                                        @*                                     <div class="like-users-dropdown dropdown-menu" id="like-users-dropdown-@post.PostId">

                                    </div> *@
                                        <button class="btn like-count" href="">@post.LikeCount</button>
                                    </div>
                                    <div class="line-divider"></div>
                                    <div class="post-text">
                                        @if (!string.IsNullOrEmpty(post.Text))
                                        {
                                            <p>@post.Text</p>
                                        }
                                    </div>
                                    <div class="line-divider"></div>
                                    @foreach (var comment in post.Comments)
                                    {
                                        var userProfile = "";
                                        if (comment.UserName == Model.UserInfo.UserName)
                                        {
                                            userProfile = "/AuthUserProfile/Index";
                                        }
                                        else
                                        {
                                            userProfile = $"/UserProfile/Index/{comment.UserId}";
                                        }
                                        <div class="post-comment">
                                            <img src="@comment.UserProfileImage" alt="" class="profile-photo-sm" />
                                            <p><a href="@userProfile" class="profile-link">@comment.UserName </a>@comment.Text </p>
                                        </div>
                                    }
                                    <div id="comments-@post.PostId">
                                    </div>

                                    <div class="post-comment">
                                        <img src="@Model.UserInfo.ProfileImage" alt="" class="profile-photo-sm" />
                                        <input type="hidden" id="user-id-@post.PostId" value="@Model.UserInfo.UserId">
                                        <input type="hidden" id="post-id-@post.PostId" value="@post.PostId">
                                        <input type="hidden" id="tokenid" value="@Model.Token">
                                        <input type="text" id="comment-text-@post.PostId" class="form-control" placeholder="Post a comment">
                                        <button class="adddd-comment-button" data-post-id="@post.PostId" style="width:60px;height:30px;">Send</button>
                                    </div>
                                    <div id="commentValidationErrors-@post.PostId" class="text-danger"></div>



                                </div>
                            </div>
                        </div>
                    }

                        

                    </div>
                    <div class="col-md-2 static">
                        <div id="sticky-sidebar">
                            <h4 class="grey">Sarah's activity</h4>
                            <div class="feed-item">
                                <div id="pendingRequestsContainer">
                                    
                                </div>
                            </div>                            
                            <div class="feed-item">
                                <div class="live-activity">
                                    <p><a href="#" class="profile-link">Sarah</a> Commended on a Photo</p>
                                    <p class="text-muted">5 mins ago</p>
                                </div>
                            </div>
                            <div class="feed-item">
                                <div class="live-activity">
                                    <p><a href="#" class="profile-link">Sarah</a> Has posted a photo</p>
                                    <p class="text-muted">an hour ago</p>
                                </div>
                            </div>
                            <div class="feed-item">
                                <div class="live-activity">
                                    <p><a href="#" class="profile-link">Sarah</a> Liked her friend's post</p>
                                    <p class="text-muted">4 hours ago</p>
                                </div>
                            </div>
                            <div class="feed-item">
                                <div class="live-activity">
                                    <p><a href="#" class="profile-link">Sarah</a> has shared an album</p>
                                    <p class="text-muted">a day ago</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   