@model InterestsViewModel;

    <div class="container">

        <!-- Timeline
        ================================================= -->
        <div class="timeline">
            <div class="timeline-cover"style="background-image: url('@Model.UserInfo.BackgroundImage');">
                <!--Timeline Menu for Large Screens-->
                <div class="timeline-nav-bar hidden-sm hidden-xs">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="profile-info">
                                <img src="@Model.UserInfo.ProfileImage" alt="" class="img-responsive profile-photo" />
                                <button class="btn" style="background-color:#8dc63f;color:white;border-radius:15px" data-toggle="modal" data-target="#profileImageModal">Edit</button>
                                <h3>@Model.UserInfo.UserName</h3>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <ul class="list-inline profile-menu">
                                <li><a href="/AuthUserProfile/Index">My Posts</a></li>
                                <li><a href="/AuthUserProfile/About">About</a></li>
                                <li><a href="/AuthUserProfile/Album">Album</a></li>
                                <li class="list-inline-item dropdown">
                                <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings <span><img src="~/images/down-arrow.png" alt="" /></span></a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" style="color:black" href="/AuthUserProfile/BasicInfo">Basic Information</a>
                                        <a class="dropdown-item" style="color:black" href="/AuthUserProfile/EduAndWork">Education and Work</a>
                                        <a class="dropdown-item active" style="color:black" href="/AuthUserProfile/Interests">My Interests</a>
                                        <a class="dropdown-item" style="color:black" href="/Settings/Notifications">Account Settings</a>
                                        <a class="dropdown-item" style="color:black" href="/Settings/Notifications">Change Password</a>
                                    </div>
                                </li>
                            </ul>
                            <ul class="follow-me list-inline">
                                <li>@Model.UserInfo.FollowersCount<a href=""> Followers</a> </li>
                                <li>@Model.UserInfo.FollowingsCount<a href=""> Followings </a></li>
                                <button class="btn" style="background-color:#8dc63f;color:white;border-radius:15px" data-toggle="modal" data-target="#BackgroundImageModall">Edit</button>
                            </ul>
                        </div>
                    </div>
                </div><!--Timeline Menu for Large Screens End-->

            <!-- ProfileImage Modal -->
            <div class="modal fade" id="profileImageModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit Profile Image</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="file" id="profileImage" name="profileImage" />
                            <input type="hidden" id="tokenidforprofileimage" value="@Model.UserInfo.BackgroundImageId">
                            <input type="hidden" id="profileImageId" value="@Model.UserInfo.ProfileImageId">
                            <input type="hidden" id="userId" value="@Model.UserInfo.UserId">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="deleteProfileImageBtn" style="border-radius:15px">Delete Profile Image</button>
                            <button type="button" class="btn btn-primary" id="updateProfileImageBtn">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BackgroundImage Modal -->
            <div class="modal fade" id="BackgroundImageModall" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit Background Image</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="file" id="backgroundImage" name="backgroundImage" />
                            <input type="hidden" id="tokenidforbackgroundimage" value="@Model.UserInfo.BackgroundImageId">
                            <input type="hidden" id="backgroundImageId" value="@Model.UserInfo.BackgroundImageId">
                            <input type="hidden" id="userIdd" value="@Model.UserInfo.UserId">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="deleteBackgroundImageBtn" style="border-radius:15px">Delete Background Image</button>
                            <button type="button" class="btn btn-primary" id="updateBackgroundImageBtn">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            </div>
            <div id="page-contents">
                <div class="row">
                    <div class="col-md-3">

                        <!--Edit Profile Menu-->
                        <ul class="edit-menu">
                            <li><i class="icon ion-ios-information-outline"></i><a href="/AuthUserProfile/BasicInfo">Basic Information</a></li>
                            <li><i class="icon ion-ios-briefcase-outline"></i><a href="/AuthUserProfile/EduAndWork">Education and Work</a></li>
                            <li class="active"><i class="icon ion-ios-heart-outline"></i><a href="/AuthUserProfile/Interests">My Interests</a></li>
                            <li><i class="icon ion-ios-settings"></i><a href="edit-profile-settings.html">Account Settings</a></li>
                            <li><i class="icon ion-ios-locked-outline"></i><a href="edit-profile-password.html">Change Password</a></li>
                        </ul>
                    </div> 
                    <div class="col-md-7">

                        <!-- Edit Interests
                        ================================================= -->
                        <div class="edit-profile-container">
                            <div class="block-title">
                                <h4 class="grey"><i class="icon ion-ios-heart-outline"></i>My Interests</h4>
                                <div class="line"></div>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
                                <div class="line"></div>
                            </div>
                            <div class="edit-block">
                                <ul class="list-inline interests">
                                @if (Model.UserInterests.Count > 0)
                                {
                                    @foreach (var interest in Model.UserInterests)
                                    {
                                        <li><a href="#"><i class="icon ion-android-bicycle"></i>@interest.Interest</a></li>
                                        <i class="icon ion-close-circled delete-interest" data-interestid="@interest.InterestId"></i>
                                        <div class="interest-id" style="display:none;">@interest.InterestId</div>
                                    }
                                }                                                                                                      
                                </ul>
                                <div class="line"></div>
                                <div class="row">
                                    <p class="custom-label"><strong>Add interests</strong></p>
                                    <div class="form-group col-sm-8">
                                        <input id="add-interest" class="form-control input-group-lg" type="text" name="interest" title="Choose Interest" placeholder="Interests. For example, photography" />
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <input type="hidden" id="TokeNiD" value="@Model.Token">
                                        <input type="hidden" id="UseRID" value="@Model.UserInfo.UserId">
                                        <button type="button" id="add-interest-btn" class="btn btn-primary">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 static">

                        <!--Sticky Timeline Activity Sidebar-->
                        <div id="sticky-sidebar">
                            <h4 class="grey">Sarah's activity</h4>
                            <div class="feed-item">
                                <div class="live-activity">
                                    <p><a href="#" class="profile-link">Sarah</a> Commended on a Photo</p>
                                    <p class="text-muted">5 mins ago</p>
                                </div>
                            </div>
                            <div class="feed-item">
                                <div class="live-activity">
                                    <p><a href="#" class="profile-link">Sarah</a> Has posted a photo</p>
                                    <p class="text-muted">an hour ago</p>
                                </div>
                            </div>
                            <div class="feed-item">
                                <div class="live-activity">
                                    <p><a href="#" class="profile-link">Sarah</a> Liked her friend's post</p>
                                    <p class="text-muted">4 hours ago</p>
                                </div>
                            </div>
                            <div class="feed-item">
                                <div class="live-activity">
                                    <p><a href="#" class="profile-link">Sarah</a> has shared an album</p>
                                    <p class="text-muted">a day ago</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



