@model AlbumViewModel;
<div class="container">

    <!-- Timeline
    ================================================= -->
    <div class="timeline">
        <div class="timeline-cover" style="background-image: url('@Model.UserInfo.BackgroundImage');">
            <!--Timeline Menu for Large Screens-->
            <div class="timeline-nav-bar hidden-sm hidden-xs">
                <div class="row">
                    <div class="col-md-3">
                        <div class="profile-info">
                            <img src="@Model.UserInfo.ProfileImage" alt="" class="img-responsive profile-photo" />
                            <h3>@Model.UserInfo.UserName</h3>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <ul class="list-inline profile-menu">
                            <li><a href="/UserProfile/Index/@Model.UserInfo.UserId">Posts</a></li>
                            <li><a href="/UserProfile/About/@Model.UserInfo.UserId" >About</a></li>
                            <li><a href="/UserProfile/Album/@Model.UserInfo.UserId" class="active">Album</a></li>
                        </ul>
                        <ul class="follow-me list-inline">
                            <li>@Model.UserInfo.FollowersCount<a id="followersId" href=""> Followers</a> </li>
                            <li>@Model.UserInfo.FollowingsCount<a id="followingsId" href=""> Followings </a></li>
                            @if (Model.AcceptedFollowerUsers.Any(fs => fs.UserId == Model.AuthUserInfo.UserId))
                            {
                                <button id="followingButton" style="padding:7px" class="btn-primary" data-user-id="@Model.AuthUserInfo.UserId" data-following-user-id="@Model.UserInfo.UserId">Following</button>
                            }
                            else
                            {
                                <button id="addFriendButton" style="padding:7px" class="btn-primary" data-user-id="@Model.AuthUserInfo.UserId" data-following-user-id="@Model.UserInfo.UserId">Add Friend</button>
                            }
                            @if (!Model.AllConversations.Any(c => c.User1Id == Model.AuthUserInfo.UserId && c.User2Id == Model.UserInfo.UserId))
                            {
                                <button id="message-button" style="padding:7px;border-radius:20px;border:0px" class="btn-success">Message</button>
                            }
                            else
                            {
                                <button style="padding:7px;border-radius:20px;border:0px" class="btn-success"><a href="/NewsFeed/Messages" style="color:white">Message</a></button>
                            }
                            <input type="hidden" id="us-er-Id" value="@Model.UserInfo.UserId">
                            <input type="hidden" id="AuthUs-er-Id" value="@Model.AuthUserInfo.UserId">
                            <input type="hidden" id="tokenidd" value="@Model.Token">
                        </ul>
                    </div>
                </div>
            </div><!--Timeline Menu for Large Screens End-->
            <!-- Modal for followings -->
            <div id="followingUsersModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Following Users</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="following-users-container" class="following-users-container">
                                <!-- Dinamik içerik burada yüklenecek -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal for followers -->
            <div id="followersUsersModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Followers</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="followers-users-container" class="followers-users-container">
                                <!-- Dinamik içerik burada yüklenecek -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="page-contents">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-7">

                    <!-- Photo Album
                    ================================================= -->
                    <ul class="album-photos">
                        @foreach (var post in Model.Posts)
                        {
                            <li>
                                <div class="img-wrapper" data-toggle="modal" data-target="#photo-@post.PostId" style="height:107px;width:190px">
                                    @if (!string.IsNullOrEmpty(post.ImageUrl))
                                    {
                                        <img src="@post.ImageUrl" style="height:107px;width:190px" alt="photo" class="img-responsive post-image">
                                    }
                                    @if (!string.IsNullOrEmpty(post.VideoUrl))
                                    {
                                        <video class="post-video" style="height:107px;width:190px" controls> <source src="@post.VideoUrl" type="video/mp4"> </video>
                                    }
                                </div>
                                <div class="modal fade" id="photo-@post.PostId" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            @if (!string.IsNullOrEmpty(post.ImageUrl))
                                            {
                                                <img src="@post.ImageUrl" alt="photo" class="img-responsive post-image">
                                            }
                                            @if (!string.IsNullOrEmpty(post.VideoUrl))
                                            {
                                                <video class="post-video" controls> <source src="@post.VideoUrl" type="video/mp4"> </video>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }

                    </ul>
                </div>
                <div class="col-md-2 static">
                    <div id="chat-block">
                        <input type="hidden" id="tokenidd-d" value="@Model.Token">
                        <div class="title">Online Users</div>
                        <ul class="online-users list-inline">
                        </ul>
                    </div><!--chat block ends-->
                </div>
            </div>
        </div>
    </div>
</div>




