@model NewsFeedViewModel;
    <div id="page-contents">
        <div class="container">
            <div class="row">

                <!-- Newsfeed Common Side Bar Left
                ================================================= -->
                <div class="col-md-3 static">
                    <div class="profile-card">
                        <input type="hidden" id="tokenidd-d" value="@Model.Token">
                        <img src="@Model.UserInfo.ProfileImage" alt="user" class="profile-photo" />
                        <h5><a href="/AuthUserProfile/Index" class="text-white">@Model.UserInfo.UserName</a></h5>
                        <a href="#" class="text-white" id="followersId"><i class="ion ion-android-person-add"></i> @Model.UserInfo.FollowersCount followers</a><br />
                        <a href="#" class="text-white" id="followingsId"><i class="ion ion-android-person-add"></i> @Model.UserInfo.FollowingsCount followings</a>
                        <input type="hidden" id="us-er-Id" value="@Model.UserInfo.UserId">
                    </div><!--profile card ends-->
                    <ul class="nav-news-feed">
                        <li><i class="icon ion-ios-paper"></i><div><a href="/NewsFeed/Index">My Newsfeed</a></div></li>
                        <li><i class="icon ion-ios-people-outline"></i><div><a href="/NewsFeed/Friends">Friends</a></div></li>
                        <li><i class="icon ion-chatboxes"></i><div><a href="/NewsFeed/Messages">Messages</a></div></li>
                        <li><i class="icon ion-images"></i><div><a href="/NewsFeed/Images">Images</a></div></li>
                        <li><i class="icon ion-ios-videocam"></i><div><a href="/NewsFeed/Videos">Videos</a></div></li>
                    </ul><!--news-feed links ends-->
                    <div id="chat-block">
                        <div class="title">Chat online</div>
                        <ul class="online-users list-inline">

                        </ul>
                    </div><!--chat block ends-->
                </div>
                <div class="col-md-7">

                    <!-- Post Create Box
                    ================================================= -->
                    <div class="create-post">
                        <div class="row">
                            <div class="col-md-7 col-sm-7">
                                <form id="TextCreateBox">
                                <div class="form-group">
                                    <img src="@Model.UserInfo.ProfileImage" alt="" class="profile-photo-md" />
                                    <input type="hidden" id="tokenidd" value="@Model.Token">
                                    <input type="hidden" id="user-idd" value="@Model.UserInfo.UserId">
                                    <textarea id="postTextt" cols="30" rows="1" class="form-control" placeholder="Write what you wish"></textarea>
                                </div>
                                <div class="form-group">
                                    <div id="textValidationErrorss" class="text-danger"></div>
                                </div>
                                </form>                               
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <div class="tools">
                                    <ul class="publishing-tools list-inline">
                                        <li><a href="#" id="compose-icon"><i class="ion-compose"></i></a></li>
                                        <li><a href="#" id="images-icon"><i class="ion-images"></i></a></li>
                                        <li><a href="#" id="video-icon"><i class="ion-ios-videocam"></i></a></li>
                                    </ul>
                                <button class="btn btn-primary pull-right" id="CreateTextPost">Publish</button>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- Text Modal -->
                <div id="textModal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Create Text Post</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="textForm" method="post" action="CreatePostWithtext">
                                    <div class="form-group">
                                        <input type="hidden" id="tokenid" value="@Model.Token">
                                        <input type="hidden" id="user-id" value="@Model.UserInfo.UserId">
                                        <textarea class="form-control" id="postText" placeholder="Write something..."></textarea>
                                    </div>
                                    <div class="form-group">
                                        <div id="textValidationErrors" class="text-danger"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="submitTextPost">Post</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Image Modal -->
                <div id="imageModal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Create Image Post</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="imageForm">
                                    <div class="form-group">
                                        <input type="hidden" id="tokenid-forimage" value="@Model.Token">
                                        <input type="hidden" id="user-id-forimage" name="UserId" value="@Model.UserInfo.UserId">
                                        <textarea class="form-control" id="imageText" name="Text" placeholder="Write something..."></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" class="form-control-file" name="PostImageFile" id="imageFile">
                                    </div>
                                    <div class="form-group">
                                        <div id="imageValidationErrors" class="text-danger"></div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="submitImagePost">Post</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Video Modal -->
                <div id="videoModal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Create Video Post</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="videoForm">
                                    <div class="form-group">
                                        <input type="hidden" id="tokenid-forvideo" value="@Model.Token">
                                        <input type="hidden" id="user-id-forvideo" name="UserId" value="@Model.UserInfo.UserId">
                                        <textarea class="form-control" id="videoText" name="Text" placeholder="Write something..."></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" class="form-control-file" name="PostVideoFile" id="videoFile">
                                    </div>
                                    <div class="form-group">
                                        <div id="videoValidationErrors" class="text-danger"></div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="submitVideoPost">Post</button>
                            </div>
                        </div>
                    </div>
                </div>
                 
                <!-- Modal View for user liked -->                
                <div id="likeUsersModal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Users who liked this post</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="like-users-container" class="like-users-container">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal for followings -->
                <div id="followingUsersModal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Following Users</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="following-users-container" class="following-users-container">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal for followers -->
                <div id="followersUsersModal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Followers</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="followers-users-container" class="followers-users-container">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                    <!-- Post Create Box End-->
                <!-- Post Content
                ================================================= -->
                @foreach (var post in Model.Posts)
                {
                    var userProfilee = "";
                    if (post.UserName == Model.UserInfo.UserName)
                    {
                        userProfilee = "/AuthUserProfile/Index";
                    }
                    else
                    {
                        userProfilee = $"/UserProfile/Index/{post.UserId}";
                    }
                    var isliked = Model.LikeList.Any(l => l.PostId == post.PostId && l.UserId == Model.UserInfo.UserId);
                    var LikeButtonClass = isliked ? "text-red addlike" : "text-green addlike";

                    <div class="post-content">
                        @if (!string.IsNullOrEmpty(post.ImageUrl))
                        {
                            <img src="@post.ImageUrl" alt="post-image" class="img-responsive post-image">
                        }
                        @if (!string.IsNullOrEmpty(post.VideoUrl))
                        {
                            <video class="post-video" controls> <source src="@post.VideoUrl" type="video/mp4"> </video>
                        }
                        <div class="post-container">
                            <img src="@post.UserProfileImage" alt="user" class="profile-photo-md pull-left" />
                            <div class="post-detail">
                                <div class="user-info">
                                    @if (Model.AcceptedFollowingUsers.Any(fs => fs.UserId == post.UserId))
                                    {
                                        <h5><a href="@userProfilee" class="profile-link">@post.UserName</a> <span class="following">following</span></h5>
                                    }
                                    else
                                    {
                                        <h5><a href="@userProfilee" class="profile-link">@post.UserName</a></h5>
                                    }
                                    <p class="text-muted">@post.ElapsedTime</p>
                                </div>
                                <div class="reaction" data-post-id="@post.PostId" data-user-id="@Model.UserInfo.UserId">
                                    <input type="hidden" id="tokenidd" value="@Model.Token">
                                    <button class="btn-group @LikeButtonClass" style="border:hidden;padding: 3px 12px"><i class="icon ion-thumbsup"></i></button>
                                    <button class="btn like-count"  href="">@post.LikeCount</button>
                                </div>
                                <div class="line-divider"></div>
                                <div class="post-text">
                                    @if (!string.IsNullOrEmpty(post.Text))
                                    {
                                        <p>@post.Text</p>
                                    }
                                </div>
                                <div class="line-divider"></div>
                                @foreach (var comment in post.Comments)
                                {
                                    var userProfile = "";
                                    if (comment.UserName == Model.UserInfo.UserName)
                                    {
                                        userProfile = "/AuthUserProfile/Index";
                                    }
                                    else
                                    {
                                        userProfile = $"/UserProfile/Index/{comment.UserId}";
                                    }
                                    <div class="post-comment">
                                        <img src="@comment.UserProfileImage" alt="" class="profile-photo-sm" />
                                        <p><a href="@userProfile" class="profile-link">@comment.UserName </a>@comment.Text </p>
                                    </div>
                                }
                                <div id="comments-@post.PostId">
                                </div>

                                <div class="post-comment">
                                    <img src="@Model.UserInfo.ProfileImage" alt="" class="profile-photo-sm" />
                                    <input type="hidden" id="user-id-@post.PostId" value="@Model.UserInfo.UserId">
                                    <input type="hidden" id="post-id-@post.PostId" value="@post.PostId">
                                    <input type="hidden" id="tokenid" value="@Model.Token">
                                    <input type="text" id="comment-text-@post.PostId" class="form-control" placeholder="Post a comment">
                                    <button class="adddd-comment-button" data-post-id="@post.PostId" style="width:60px;height:30px;">Send</button>
                                </div>
                                <div id="commentValidationErrors-@post.PostId" class="text-danger"></div>



                            </div>
                        </div>
                    </div>
                }
                    
                </div>
                    

                <!-- Newsfeed Common Side Bar Right
                ================================================= -->
                <div class="col-md-2 static">
                    <div class="suggestions" id="sticky-sidebar">
                        <h4 class="grey">Who to Follow</h4>
                        @foreach (var user in Model.DontFollowingUsers)
                        {
                            var UserProfilee="";
                            if (user.UserName == Model.UserInfo.UserName)
                            {
                                UserProfilee = "/AuthUserProfile/Index";
                            }
                            else
                            {
                                UserProfilee = $"/UserProfile/Index/{user.UserId}";
                            }
                            <div class="follow-user">
                                <img src="@user.ProfileImage" alt="" class="profile-photo-sm pull-left" />
                                <div>
                                    <h5><a href="@UserProfilee">@user.UserName</a></h5>
                                <a id="AddFriendBTN_@user.UserId" data-following-user-id="@user.UserId" class="text-green AddFriendBTN">Add friend</a>
                                </div>
                            </div>
                        }
                                         
                    </div>
                </div>
            </div>
        </div>
    </div>

